<header class="header">
    <!-- nav starts -->
<nav class="navbar navbar-expand-sm ">
          
<div class="container-fluid">
<a href=""> <h5>TrustyX</h5></a>
<form class="form-inline my-3 my-lg-2">
                
<span id="s1">
<i id="i1" class="fa fa-search" aria-hidden="true"></i>
<input  type="text" [(ngModel)] = "enteredSearchValue" (input)="onSearchTextChanged($event)"  placeholder= "Search token address" >
  
</span>
</form>
  
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="#">Create</a>
</li>
             
<li class="nav-item">
<a class="nav-link" href="#">Conect to Phantom</a>
</li>
<li class="active">
<a href="">
<img class="icon"  src="https://tse3.mm.bing.net/th?id=OIP.rdSFVjXQ5bEt49p19rN3OQHaHa&pid=Api&P=0&w=175&h=175" alt=""></a>
                     
                  
<!-- <div class="sub-menu-1">
<ul>
<li><a href="">My product</a></li>
<li><a href="">Edit profile</a></li>
<li><a href="">Disconnect wallet</a></li>
<li><a href="">Log out</a></li>

</ul>

</div> -->
</li>
</ul>
            
</div>
</nav>  
<!-- nav ends -->
</header>
